openapi: '3.0.0'
info:
  version: 1.0.0
  title: Claire Labs API
  license:
    name: MIT
servers:
  - url: https://api.clairelabs.com/v1
paths:
  /assessments:
    get:
      summary: List all assessments
      operationId: listAssessments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of assessments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new assessment for student work
      operationId: createAssessment
      responses:
        201:
          description: Assessment created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /assessments/{assessmentId}:
    get:
      summary: Info for a specific assessment
      operationId: showAssessmentById
      parameters:
        - name: assessmentId
          in: path
          required: true
          description: The id of the assessment to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing assessment
      operationId: updateAssessment
      responses:
        200:
          description: Assessment updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /feedback:
    get:
      summary: Retrieve feedback for assessments
      operationId: listFeedback
      parameters:
        - name: studentId
          in: query
          description: Filter feedback by student identifier
          required: false
          schema:
            type: string
      responses:
        200:
          description: A list of feedback items for the specified criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackList'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Assessment:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Assessments:
      type: array
      items:
        $ref: '#/components/schemas/Assessment'
    FeedbackList:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          content:
            type: string
          score:
            type: number
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string